/* Light Mode (Default) */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fdfdfd;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.main-content {
    flex: 2;
    padding-right: 20px;
}

.sidebar {
    flex: 1.3;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
}

.graph-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.graph-grid div {
    padding: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
}

h1 {
    color: #3c3c3c;
}

h3 {
    color: #555555;
}

h4 {
    color: #666666;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #e65c54;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

#theme-toggle-icon {
    font-size: 24px;
}

/* Dark Mode */
body.dark-mode {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

h1.dark-mode {
    color: #f0f0f0;
}

h3.dark-mode {
    color: #cccccc;
}

h4.dark-mode {
    color: #bbbbbb;
}

label.dark-mode {
    color: #e0e0e0;
}

.sidebar.dark-mode {
    background-color: #3c3c3c;
    border-color: #555555;
}

input.dark-mode,
select.dark-mode {
    background-color: #4a4a4a;
    color: #e0e0e0;
    border-color: #666666;
}

button.dark-mode {
    background-color: #ff9f80;
    color: white;
}

button.dark-mode:hover {
    background-color: #e68a6e;
}

#theme-toggle-icon.dark-mode {
    color: #ff9f80;
}

input.dark-mode::placeholder {
    color: #ccc;
}

.graph-grid.dark-mode div {
    background-color: #3c3c3c;
}

.graph-grid.dark-mode h4 {
    color: #d0d0d0;
}

@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }
}